header{
	font-size:120%;
	color:rgb(139,0,0);
	background-color:rgba(255,255,255,.7);
	border:2%;
	padding:2%;
	margin:4%;
	font-family:Arial;
	text-align:center;
}

h2{
	color:#000000;
	font-size:200%;
	font-family:Arial;
}

h3{
	color:red;
	font-size:100%;
}

h4{
	color:rgb(139,0,0);
	font-size:140%;
	font-family:sans-serif;
}

header{
	text-align:center;
}

nav{
	text-align:center;
}


nav a{
	background-color:#000000;
	padding: 10px;
	margin: 1%; 
	text-decoration: none; 
	border-radius: 5px; 
	color:#FFFFFF;
}

.active {
	background: #FF0000; 
	color:white;
	font-weight:bold;
}


body{
	background-color:rgba(255,255,255,.7);
	margin:1%;
	background-image: url("../images/body.jpg");
	background-size:100%;
	background-repeat:repeat;
}

section{
	background-color:rgb(255,255,255);
	margin-top:2%;
	margin-bottom:2%;
	padding:2%;
	margin:2%;
}

div{
	background-color:rgba(255,255,255,.7);
	display:block;
	padding:4%;
	margin:4%;
	border:4%;
}

p{
	font-size:140%;
	color:rgb(139,0,0);
	font-family:sans-serif;
}

footer{
	text-align:center;
	font-family:Arial;
	background-color:rgba(255,255,255,.7);
	border:2%;
	padding:2%;
	margin:4%;
}

footer a{
	background-color:#000000;
	color:#FFFFFF;
	padding: 10px;
	margin: 1%; 
	text-decoration: none; 
	border-radius: 5px; 
	font-family:Arial;

}