/*@media screen and (min-width:240px){

header{
	color:rgb(139,0,0);
	background-color:rgba(255,255,255,.7);
	border:2%;
	padding:4%;
	margin:4%;
	font-family:Arial;
	text-align:center;
}


header{
	text-align:center;
}

nav{
	text-align:center;
}

label{
	display:block;
}

nav a{
	background-color:#000000;
	padding: 10px;
	margin: 1%; 
	text-decoration: none; 
	border-radius: 5px; 
	color:#FFFFFF;
	font-size:100%;
	transition-property: background-color;
	transition-duration:.2s;
	transition-timing-function: linear;
	transition-delay: .2s;
}

a:hover{
	background-color:#FF0000;
}

.active {
	background-color: #FF0000; 
	color:white;
	font-weight:bold;
}


body{
	background-color:rgba(255,255,255,.7);
	margin:4%;
	background-image: url("../images/body.jpg");
	background-size:100%;
	background-repeat:repeat;
}

img{
	width:30vw;
}

section{
	background-color:rgb(255,255,255);
	margin-top:2%;
	margin-bottom:2%;
	padding:2%;
	margin:4%;
	overflow-y:scroll;
	max-height:100vh;
}

h1{
	font-size:200%;
	text-align:center;
}

.author{
	font-size:3.5vw;
	text-align:center;
}

.books{
	text-align:center;
}

div{
	background-color:rgba(255,255,255,.7);
	padding:4%;
	margin:2%;
	border:2%;
}

p{
	font-size:3vw;
	font-family:sans-serif;
}

footer{
	text-align:center;
	font-family:Arial;
	background-color:rgba(255,255,255,.7);
	border:2%;
	padding:4%;
	margin:4%;
	font-size:80%;
}

footer a{
	background-color:#000000;
	color:#FFFFFF;
	padding: 10px;
	margin: 1%; 
	text-decoration: none; 
	border-radius: 5px; 
	font-family:Arial;

}
}


@media screen and (min-width:680px){
	header{
		padding:2%;
	}
	
	.books{
		background-color:rgb(255,255,255);
		display:inline-block;
		width: 40%;
		padding: 0.5% 0; 
		text-align:center;
	}
	
	.author{
		font-size:2.5vw;
		display:block;
		clear:both;
	}
	
	section{
		overflow-y:scroll;
		max-height:100vh;
	}
	
	img{
		width:50%;
	}
	
	
	h1{
		font-size:240%;
	}
	
	p{
		font-size:120%;
	}
	
	footer{
		padding:2%;
	}
	
}*/

header{
	color:rgb(139,0,0);
	background-color:rgba(255,255,255,.7);
	border:1%;
	padding:2%;
	margin:1%;
	font-family:Arial;
	text-align:center;
}

footer{
	text-align:center;
	font-family:Arial;
	background-color:rgba(255,255,255,.7);
	border:2%;
	padding:4%;
	margin:4%;
	font-size:80%;
}

footer a{
	background-color:#000000;
	color:#FFFFFF;
	padding: 10px;
	margin: 1%; 
	text-decoration: none; 
	border-radius: 5px; 
	font-family:Arial;

}


nav a{
	background-color:#000000;
	padding: 10px;
	margin: 1%; 
	text-decoration: none; 
	border-radius: 5px; 
	color:#FFFFFF;
	font-size:100%;
	transition-property: background-color;
	transition-duration:.2s;
	transition-timing-function: linear;
	transition-delay: .2s;
}

a:hover{
	background-color:#FF0000;
}

.active {
	background-color: #FF0000; 
	color:white;
	font-weight:bold;
}

body{
	background-color:rgba(255,255,255,.7);
	margin:4%;
	background-image: url("../images/body.jpg");
	background-size:100%;
	background-repeat:repeat;
}

img{
	width:15vw;
	padding:2%;
}

section{
	background-color:rgb(255,255,255);
	text-align:center;
	margin:2%;
	padding:2%;
	overflow-y:scroll;
	max-height:100vh;
}

section p{
	font-size:2vw;
}

section h2{
	font-size:2vw;
}

.row{
	display:block;
}

.books{
	display:inline-block;
	width:50%;
	float:left;
}

.row{
	display:block;
}